@media screen and (min-width: 641px) {
    .discover-grid {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        "card1" 
        "card2"
        "card3" 
        "card4"
        "card5" 
        "card6"
        "card7" 
        "card8";
    }

    .discover-card {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 1rem;
        align-items: center;
    }

    .discover-card figure {
        margin: 0;
    }

    .discover-info {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
}